################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/repos/AzureCosmosDB/AzureBlob/Properties/AssemblyInfo.cs
.vs/
